<div class="container">
  <h1>Calculadora de Média</h1>
  <p>Insira suas notas para o cálculo!</p>

  <div class="field">
    <label>Bimestre 1</label>
    <input type="number" #b1>
  </div>
  <div class="field">
    <label>Bimestre 2</label>
    <input type="number" #b2>
  </div>
  <div class="field">
    <label>Bimestre 3</label>
    <input type="number" #b3>
  </div>
  <div class="field">
    <label>Bimestre 4</label>
    <input type="number" #b4>
  </div>

  <button (click)="calcularMediaParcial(+b1.value, +b2.value, +b3.value, +b4.value)">
    Calcular Média Parcial
  </button>

 @if (mediaParcial !== undefined) {
  <p class="media">Média parcial: <strong>{{ mediaParcial.toFixed(2) }}</strong></p>

  @if (mediaParcial >= 60) {
    <p class="situacao aprovado">Aprovado</p>

  } @else {
    <p class="info">
      Para ser aprovado, você precisa tirar no mínimo 
      <strong>{{ notaNecessaria().toFixed(2) }}</strong> na Avaliação Final.
    </p>

    <div class="field">
      <label>Avaliação Final</label>
      <input type="number" #af>
    </div>
    <button (click)="calcularMediaFinal(+af.value)">
      Calcular Média Final
    </button>

    @if (mediaFinal !== undefined) {
  <p class="media">Média final: <strong>{{ mediaFinal.toFixed(2) }}</strong></p>

  @if (situacao === 'Reprovado') {
    <p class="info reprovado-info">
      Você precisava de <strong>{{ notaNecessaria().toFixed(2) }}</strong> 
      e ficou com <strong>{{ mediaFinal.toFixed(2) }}</strong> na média final.
    </p>
  }

  <p class="situacao" [class.aprovado]="situacao === 'Aprovado'" [class.reprovado]="situacao === 'Reprovado'">
    {{ situacao }}
  </p>
}
  }
}
</div>